body {
  background-color: #394764;
  font-family: "Inter", sans-serif;
}

.normalWidth {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 30px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.widthLarge {
  background-color: #ff4c4c;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 30px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}
