.containerCalculator {
  width: 500px;

  padding: 20px;
  background-color: #242c43;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.display {
  background-color: #182033;
  color: #ffffff;
  font-size: 2.5rem;
  text-align: right;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.containerKeypad {
  display: flex;

  justify-content: center;
  gap: 6px;

  padding: 5px;
  border-radius: 12px;
}
